@inherits WidgetBase

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="align-self-center">TOP 10 Towns</div>
        </div>
    </div>
    <div class="card-body">
        @if (prosperityModel != null)
        {
            <table class="table table-sm table-prosperity">
                <tbody>
                    @foreach (var town in prosperityModel.Towns)
                    {
                        <tr style="background-color: @town.PrimaryColor;">
                            <td title="Owned by @town.FactionName">@town.Name</td>
                            <td title="Prosperity"><img src="img/ingots.png" class="img-war" /> @string.Format("{0:0}", town.Prosperity)</td>
                            <td title="Militia"><img src="img/militia.png" class="img-war" /> @string.Format("{0:0}", town.Militia)</td>
                            <td title="Garrison"><img src="img/garrison.png" class="img-war" /> @string.Format("{0:0}", town.Garrison)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>
