@inherits WidgetBase

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="align-self-center">Prosperity</div>
            @if (prosperityModel != null)
            {
                <div class="ml-auto align-self-center">
                    <RadioGroup TValue="ProsperityView" Name="prosperity-widget-view" CheckedValue="view" CheckedValueChanged="ProsperityViewChangedAsync">
                        <Radio Value="ProsperityView.Table" title="Table view"><i class="fa fa-table"></i></Radio>
                        <Radio Value="ProsperityView.Chart" title="Chart view"><i class="fa fa-chart-bar"></i></Radio>
                    </RadioGroup>
                </div>

                <Dropdown Direction="Direction.Start">
                    <DropdownToggle title="Filters" Class="btn-secondary">
                        <i class="fa fa-filter"></i>
                    </DropdownToggle>
                    <DropdownMenu>
                        <RadioGroup TValue="int" Name="prosperity-widget-towns" CheckedValue="townCount" CheckedValueChanged="ProsperityFilterClickedAsync" Orientation="Orientation.Vertical">
                            <DropdownItem>
                                <Radio Value="5">Top 5</Radio>
                            </DropdownItem>
                            <DropdownItem>
                                <Radio Value="10">Top 10</Radio>
                            </DropdownItem>
                            <DropdownItem>
                                <Radio Value="20">Top 20</Radio>
                            </DropdownItem>
                            <DropdownItem>
                                <Radio Value="30">Top 30</Radio>
                            </DropdownItem>
                        </RadioGroup>
                    </DropdownMenu>
                </Dropdown>
            }
        </div>
    </div>
    <div class="card-body">
        @if (prosperityModel != null)
        {
            if (view == ProsperityView.Table)
            {
                <table class="table table-sm">
                    <tbody>
                        @foreach (var town in prosperityModel.Towns)
                        {
                            <tr style="background-color: @town.PrimaryColor;">
                                <td title="Owned by @town.FactionName">@town.Name</td>
                                <td title="Prosperity"><img src="img/ingots.png" class="img-war" /> @string.Format("{0:0}", town.Prosperity)</td>
                                <td title="Militia"><img src="img/militia.png" class="img-war" /> @string.Format("{0:0}", town.Militia)</td>
                                <td title="Garrison"><img src="img/garrison.png" class="img-war" /> @string.Format("{0:0}", town.Garrison)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else if (view == ProsperityView.Chart)
            {
                <BarChart @ref="barChart" TItem="float" OptionsObject="BaseBarChartOptions" />
            }
        }
        else
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>
